%form.form-horizontal{"accept-charset" => "utf-8", :action => "", :autocomplete => "off", :method => "post"}
  .input-group
    %input.form-control{:name => "searchtext", :type => "text", :value => ""}/
    %span.input-group-btn
      %button#addressSearch.btn.btn-default{:type => "submit"}
        %span.icon-search
          Find